{% extends "base.html" %}

{% block container %}
<header class="container">
  <hgroup>
    <h1>Articles tagged with {{ slug }}</h1>
    <h2>Check out my blog posts</h2>
  </hgroup>
  <p><a href="#" role="button" onclick="event.preventDefault()">Subscribe to Newsletter</a></p>
</header>
<div class="container">
  {% for article in articles %}
    <article>
      <header>
        <h1>{{ article.title }}</h1>
        <small>{{ article.author }} | </small>
        <small>{{ article.date_published }}</small>
      </header>
      <img src="{{ article.image.url }}" alt="{{ article.title}}">
      <p>{{ article.content|safe|truncatewords:25 }}</p>
      <a role="button" class="outline" href="{{ article.id }}">View Post</a>
      <footer>
        <h3>Tags</h3>
        {% for tag in article.tags.all %}
        <a href="/blog/{{ tag.slug }}">{{ tag.name }}{% if not forloop.last %},{% endif %}</a>
        {% endfor %}
      </footer>
    </article>
  {% endfor %}
</div>
{% endblock %}