{% extends "base.html" %}

{% block container %}
<header class="container">
  <hgroup>
    <h1>Blog</h1>
    <h2>Check out my latest blog posts</h2>
  </hgroup>
  <p><a href="#" role="button" onclick="event.preventDefault()">Subscribe to Newsletter</a></p>
</header>
<!-- Main -->
<main class="container">

    {% for article in articles %}

    <article>
      <header><h1>{{ article.title }}</h1></header>
      <img src="{{ article.image.url }}" alt="{{ article.title}}">
      <small>Published: {{ article.date_published }}</small>
      <small>By: {{ article.author }}</small>
      <p>{{ article.content|safe|truncatewords:25 }}</p>
      <button role="button">View Post</button>
    </article>
    
    {% endfor %}
</main>
<!-- ./ Main -->
{% endblock %}