{% extends "base.html" %}

{% block container %}
<div class="container">
  <article>
    <header>
      <img src="{{ profile.image.url }}" alt="{{ profile }}">
      <h1>{{ profile }}</h1>
      <small>Membership: {{ profile.get_membership_level_display }} | </small>
      <small>Member Since: {{ profile.user.date_joined }}</small>
    </header>
    <h1>Bio<h1/>
    <p>{{ profile.bio }}</p>
    <a role="button" class="outline" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
  </article>
</div>
{% endblock %}